.nav-link:hover{
    background-color: #dbd7ff57;
}

.delete:hover{
    background-color: rgba(255, 0, 0, 0.212);
}

.logout{
    border: 1px blue solid;
}

/*.logout:hover{
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.24);
    background-color: rgba(0, 0, 255, 0.034);
}*/